*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    max-width: 100%;
    height: auto;
}
body{
    background-color: white;
    font-family: "Carlito", sans-serif;
    font-weight: 700;
    font-style: normal;

}
img{
    object-fit: contain;
}


/*nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.menu{
    display: flex;
    justify-content: space-around;
    align-items: center;
}*/
.home{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    margin: 0 auto;
    width:100%;
    max-width: 1280px;
}
.menu{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center
}

#menu-check{
    display: none;
}
.bt-menu{
    display: none;
}

.secao{
    width: 100%;
}
.home img{
    max-width:150px;
    height: auto;
    object-fit: contain;
    padding: 10px;
}
.menu li{
    margin: 20px 5px;
    background-color: white;
    padding:7px 9px;
    border-radius: 5px;
    transition: background-color 0.3s ease, transform 0.3s ease;
}
.home a{
    text-decoration: none;
    color: #FF5400;
    padding: 9px 7px;
}
.normal:hover{
    color: white;
}
.home li:hover{
    background-image:linear-gradient(to bottom, #FFBD00,#FF0054) ;
    transform: scale(1.1);
    color: white;
}
.home #cursotopo{
    padding: 3px;
    background-image:linear-gradient(#FFBD00,#FF0054) ;
    border-radius: 5px;
}
.home #cursotopo a{
    display: block;
    background-color:white;
    padding:7px 9px;
    border-radius: 6px;
}
.home #matriculatopo{
    background-image: linear-gradient(to right, #FFBD00,#FF0054);
    border-radius: 5px;
    padding: 8px;
}
.topo{
    display: flex;
    align-items: center;
    max-width: 1280px;
    width:100%;
    margin:0 auto;
    padding:10px;
}
.topo h1{
    color: #9E0059;
    font-size: 50px;
    text-align: center;
}
.topo #meninatopo{
    width: 60%;
    height: auto;
    object-fit: contain;
}
.cursos{
    max-width: 1280px;
    width:100%;
    margin:0 auto;
    padding:10px;
    font-size: 20px;
    color: #390099;
    display: grid;
    grid-template-columns:1fr 1fr;
    column-gap: 20px;
    grid-template-areas:
        'pergunta meninacurso'
        'resposta meninacurso'
        'opcoes meninacurso';
}


#secao1{
    display: flex;
    justify-content: center; 
    align-items: center;
    color: white;
    background-image:linear-gradient(to right, #390099,#9E0059);
    height: 45px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
.cursos h2{
   
    padding-top:20px;
    text-align: center;
    grid-area: pergunta;
    
}
.cursos h3{
    
    grid-area: resposta;
   
    text-align: center;
    
}
.idiomacurso{
 
    margin-top: 64px;
    grid-area:opcoes;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap:10px;

    
}
.idiomacurso img{
    max-width: 100%;
}
#eua{
    transition: transform 0.3s ease;
}
#eua:hover{
    transform: scale(1.1);
}
#alema{
    transition: transform 0.3s ease;
}
#alema:hover{
    transform: scale(1.1);
}
#espan{
    transition: transform 0.3s ease;
}
#espan:hover{
    transform: scale(1.1);
}
#fran{
    transition: transform 0.3s ease;
}
#fran:hover{
    transform: scale(1.1);
}
#meninacurso{
    grid-area: meninacurso;
    max-width: 100%;
    object-fit: contain;
    margin: auto;
}




#secao2{
    display: flex;
    margin-top: 66px;
    justify-content: center; 
    align-items: center;
    color: white;
    background-image:linear-gradient(to right, #FF5400,#FFBD00);
    height: 45px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.horarios{
    max-width: 1280px;
    width:100%;    
    margin: 0 auto;
    margin-top: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.horarios #vertical{
    display: none;
}

.horarios img{
    max-width: 100%;
}
.horarios .red{
    color: #FF5400;
}
.horarios .laranja{
    color:#FF9A00;
}
.horarios #cinco{
    color: #FFBD00;
} 
#seg{
    color: #FF5400;
}
#sex{
    color: #FFBC00;
}
.dias{
    margin-left: -60px;
    width: 954px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.horas{
    display: flex;
    align-items: flex-start;
}
.horas #nove{
    margin-left: 20px;
    margin-right: 143px;
}
.horas #dez{
    margin-right: 148px;
}
.horas #onze{
    margin-right: 148px;
}
.horas #quatro{
    margin-right: 143px;
}

#secao3{
    display: flex;
    margin-top: 66px;
    justify-content: center; 
    align-items: center;
    color: white;
    background-image:linear-gradient(to right, #FF0054,#FF5400);
    height: 45px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
.depoimentos{
    max-width: 1280px;
    width:100%;
    margin:0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}



.perfis{
    border: solid 3px #FF0054;
    width: 310px;
    height: 235px;
    border-radius: 20px;
    display: grid;
    grid-template-areas:
        'foto nome'
        'foto curso'
        'depoi depoi'
        'estrela estrela';
    margin-top: 50px;
    box-shadow: 3px 3px black;
    transition: transform 0.3s ease;
}
.perfis:hover{
    transform: scale(1.1);
}
.perfis h4{
    color: black;
    text-align: left;
    grid-area: depoi;

    margin-left: 20px;
}

#estrela {
    display: flex;
    align-items: center;
    width: 110px;
    height: auto;
    grid-area: estrela;
    margin-left: 20px;
    margin-bottom: 10px;
}
#estrela img {
    width: 20px;
    height: auto;
}

#alice{
    border: solid 3px #FF0054;
}

.fotoperfil {
    border-radius: 100%;
    width: 75px;
    height: 80px;
    object-fit: cover;
    grid-area: foto;
    margin-left: 20px;
    margin-top: 20px;
}

#alice h2{
    color: #FF0054;
    grid-area: nome;
    margin-top: 30px;
    margin-bottom: -20px;
    margin-left: -50px;
}
#alice h3{
    color: #8D8D8D;
    grid-area: curso;
    margin-left: -50px;
}

#estrela{
    display: flex;
    align-items: center;
    width: 5%;
    height: auto;
    grid-area: estrela;
    margin-left: 20px;
    margin-bottom: 10px;
}

#vinicius{
    border: solid 3px #FF2A2A;
}

#vinicius h2{
    color: #FF2A2A;
    grid-area: nome;
    margin-top: 30px;
    margin-bottom: -20px;
    margin-left: -50px;
}
#vinicius h3{
    color: #8D8D8D;
    grid-area: curso;
    margin-left: -50px;
}


#paula{
    border: solid 3px #FF5400;
}

#paula h2{
    color: #FF5400;
    grid-area: nome;
    margin-top: 30px;
    margin-bottom: -20px;
    margin-left: -50px;
}
#paula h3{
    color: #8D8D8D;
    grid-area: curso;
    margin-left: -50px;
}


#secao4{
    display: flex;
    margin-top: 66px;
    justify-content: center; 
    align-items: center;
    color: white;
    background-image:linear-gradient(to right, #024AC7,#012461);
    height: 45px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
.historia{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
#ana_paula{
    transition:transform 0.3s ease;
}
#ana_paula:hover{
    transform: scale(1.1);
}
.historia h2{
    color: #012461;
    max-width: 410px;
    width: 100%;
    text-align: left;
    margin-top: 95px;
}

#matricula{
    margin: 0 auto;
    margin-top: 100px;
    max-width: 1380px;
    width:100%;
    height: 730px;
    border-radius: 55px;
    background-image:linear-gradient(to right, #FFBD00,#FF0054);
    color: white;
}
.informacoes{
    margin: 0 auto;
    max-width: 1074px;
    width:90%;
    height: 531px;
    display: grid;
    justify-content: space-around;
    grid-template-areas: 'nome sobrenome' 'email celular' 'senha confirmar' 'curso curso';
    font-weight: normal;
}
#matricula h1{
    text-align: center;
    padding: 10px;
    font-size: 50px;
}
.informacoes h3{
    margin-bottom: 10px;
    font-weight: 400;
}
.informacoes input{
    font-weight: 400;
    transition:transform 0.3s ease;
}
.informacoes input:hover{
    transform: scale(1.1);
}

.informacoes input{
    text-align: left;
    padding-top: 8px;
    padding-left: 10px;
    width: 301px;
    height: 38px;
    border: 1px solid rgba(0, 0, 0, 0.24);
    box-shadow: 1px 3px 4px rgba(0, 0, 0, 0.24);
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0);
}

#salvar{
    text-align: center;
    width: 310px;
    font-family: "Carlito", sans-serif;
    font-weight: bold;
    font-size: larger;
    margin: 0 auto;
    height: 45px;
    border: 1px solid rgba(0, 0, 0, 0.24);
    box-shadow: 1px 3px 4px rgba(0, 0, 0, 0.24);
    border-radius: 10px;
    background-image: linear-gradient(to right, #FFBD00,#FF0054);
    transition:transform 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
}
#salvar:hover{
    transform: scale(1.1);
}
#confirmar h4{
    text-align: left;
    padding-top: 8px;
    padding-left: 10px;
    width: 301px;
    height: 38px;
    border: 1px solid rgba(0, 0, 0, 0.24);
    box-shadow: 1px 3px 4px rgba(0, 0, 0, 0.24);
    border-radius: 10px;
}
#nome{
    grid-area: nome;
}

#email{
    grid-area: email;
}
#senha{
    grid-area: senha;
}
#curso{
    grid-area: curso;
}
#sobrenome{
    grid-area: sobrenome;
}
#celular{
    grid-area: celular;
}
#confirmar{
    grid-area: confirmar;
}
footer{
    height: 510px;
    width: 100%;
    margin-top: 100px;
    background-image:linear-gradient(to bottom,#FF0090,#9E0059);
    border-top-left-radius: 55px;
    border-top-right-radius: 55px;
    color: white;
    display: grid;
    grid-template-areas: 'logo contato' 'logo num' 'logo  apps' 'direito direito';
    align-items: center;
    justify-items: center;
    justify-content: space-evenly;
}
.num{
    display: flex;
    flex-direction: row;
    grid-area: num;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 51px;
    margin-bottom: 51px;
}
footer h2{
    font-weight: 400;
    text-align: center;
}
footer p{
    font-weight:400;
    grid-area: direito;
    text-align: center;
}
footer #logo{
    max-width: 462px;
    width: 90%;
    height: 260px;
    object-fit: cover;
    margin: 0 auto;
    grid-area: logo;
}
#logo{
    transition: transform 0.3s ease;
}
#logo:hover{
    transform: scale(1.1);
}
footer h1{
    grid-area: contato;
}
#contato{
    max-width: 400px;
    width: 100%;
    height: auto;
    margin: 0 auto;
    text-align: center;
}
.apps{
    grid-area: app;
}
#telefone{
    width:100%;
    max-width: 42px;
    height:42px;
    object-fit: cover;
}
#insta{
    width: 100%;
    max-width: 61px;
    height: 61px;
    object-fit: cover;
    transition: transform 0.3s ease;
}
#insta:hover{
    transform: scale(1.3);
}
#face{
    margin-bottom: 9px;
    height: 50px;
    width: 100%;
    max-width: 50px;
    object-fit: cover;
    transition: transform 0.3s ease;
}
#face:hover{
    transform: scale(1.3);
}
#wpp{
    margin-bottom: 12px;
    width: 100%;
    max-width: 40px;
    height: 40px;
    object-fit: cover;
    transition: transform 0.3s ease;
}
#wpp:hover{
    transform: scale(1.3);
}
.app{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}


@media(max-width:780px){
    .depoimentos{
        flex-direction: column;
      
    }

    .perfis{
        border: solid 3px #FF0054;
        min-height: 235px;
        border-radius: 20px;
        display: grid;
        grid-template-areas:
            'foto nome'
            'foto curso'
            'depoi depoi'
            'estrela estrela';
        margin-top: 50px;
        box-shadow: 3px 3px black;
        transition: transform 0.3s ease;
    }
}

@media (max-width:450px){
    .home{
        display: flex;
        justify-content: space-between;
    }
    #hamburguer{
        width: 80px ;
    }
    #logohome{
        width: 50%;
    }
    #textotopo{
        font-size: 28px;
        margin-bottom: 25px;
    }
    #meninatopo{
        display: none;
    }
    .menu{
        display: none;
    }
    .bt-menu{
        display: block;
    }
    #menu-check:checked + .menu{
        display: block;
    }
    .menu ul{
        flex-direction: column;
    }
    #pergunta{
        font-size: 38px;
        text-align: center;
    }
    #meninacurso{
        display: none;
    }

    .cursos{
        width:100%;
        grid-template-columns:1fr;
        column-gap: 20px;
        grid-template-areas:
            'pergunta'
            'resposta'
            'opcoes';
    }
    
    #ana_paula{
        display: none;
    }
    .historia h2{
        text-align: center;
        max-width: 300px;
    }
    .informacoes{
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    .sobre{
        margin: 0 auto;
        text-align: center;
    }
    #contato{
        max-width: 200px;
    }

    .horarios img{
        display: none;
    }
    .horarios #vertical{
        display: block;
    }
    footer{
        display: flex;
        flex-direction: column;
        height: 100%;
    }
    #matricula{
        height: 830px;
    }
}
